@model HomeDetailsViewModel
@{ 
    var avatarPath = $"/images/{(Model.filmPoster ?? "filmdefault.jpg")}";
}
<style>
    * {
        color: WHITE;
        ;
    }
</style>
<div class="container">
    <div class="container bootstrap snippet">
        <h1 class="text-center"><span class="glyphicon glyphicon-user"></span>DETAIL</h1>
        <br /><br />
        <hr>
        <!-- edit form column -->

        <div class="row" data-aos="fade-up" data-aos-duration="2000">

            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img  src="@avatarPath" style="width: 100%; height:100%">
                    <br /><br />
                    <a class="btn btn-danger"asp-controller="Home" asp-action="Book" asp-route-id="@Model.filmId">BOOK</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">BACK</a>
                </div>
            </div>
            <div class="col-md-9 personal-info">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Name:</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5> @Model.filmName</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Description:</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5> @Model.filmDescription</h5>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <h5>Time:</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5> @Model.timeOfFilm Minutes</h5>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
@section Scripts{
    <script>

        AOS.init();
    </script>
}
