@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "User Management";
}
<h3>ROLE MANAGEMENT</h3>
<a asp-controller="User" asp-action="Create" class="btn btn-success mr-auto">Create User</a>

<table class="table table-bordered table-hover mt-2">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>User's Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
        <tr>
            <td>@user.Id</td>
            <td>@user.User</td>
            <td>@user.Email</td>
            <td>@user.RolesName</td>
            <td class="text-center">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>